.header{
    margin-top: 0;
    font-family: georgia;
    padding: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 4vw;
    color: white;
    margin-bottom: 15px;
    text-align:center;
}







body {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;

}
  
#calculator{
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.7fr;
    grid-auto-rows: repeat(7,200px);
    width:80%;
    height:60vh;
    max-width:400px;
    min-height:300px;
    max-height:600px;
    margin:0 auto;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.53); 
    box-shadow: 5px 5px 11px -2px rgba(0,0,0,0.53);
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen, 
.button{
    font-size: 16px;
    border: 0.5px solid black;
    background-color:#fffefe;
    border-color: #686767;
    padding:10px;
}

.numberBtn{
    font-weight: bold;
    font-size: 20px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.numberBtn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.numberBtn:active {
	position:relative;
	top:1px;
}

.opeBtn{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #d6d3d6 5%, #b3b3b3 100%);
	background-color:#d6d3d6;
	border:1px solid #b3b3b3;
	cursor:pointer;
	color:#616060;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.opeBtn:hover {
	background:linear-gradient(to bottom, #b3b3b3 5%, #d6d3d6 100%);
	background-color:#b3b3b3;
}
.opeBtn:active {
	position:relative;
	top:1px;
}


.screen{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color:black;
    color:white;
    text-align: end;
}

.resultScreen{
    margin-top:0;
    border-top:0;
    text-align: end;
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
}

.currentOpeScreen{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom:0;
    border-bottom:0;
    text-align: end;
    color:grey;
    padding: 15px;
}

.AC{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #d6d3d6 5%, #b3b3b3 100%);
    background-color:#d6d3d6;
    border:1px solid #b3b3b3;
    cursor:pointer;
    color:#616060;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.AC:hover {
    background:linear-gradient(to bottom, #b3b3b3 5%, #d6d3d6 100%);
    background-color:#b3b3b3;
}
.AC:active {
    position:relative;
    top:1px;
}

.DEL{
    grid-column-start: 3;
    grid-column-end: 4;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #d6d3d6 5%, #b3b3b3 100%);
    background-color:#d6d3d6;
    border:1px solid #b3b3b3;
    cursor:pointer;
    color:#616060;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.DEL:hover {
    background:linear-gradient(to bottom, #b3b3b3 5%, #d6d3d6 100%);
    background-color:#b3b3b3;
}
.DEL:active {
    position:relative;
    top:1px;
}

.equal{
    grid-column-start: 3;
    grid-column-end: 5;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border:1px solid #eeb44f;
    border-bottom-right-radius: 10px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.equal:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.equal:active {
	position:relative;
	
}

.dot{
    border-bottom-left-radius: 10px;
}







.footer {
    font-family: arial;
    color: #212121;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }